:root {
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);

    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}

html {
    height: 100%;
}

body {
    background-color: var(--Magnolia);
    min-height: 100vh;
}

.container {
    justify-content: center;
    height: 100vh;
    align-items: center;
}

img {
    max-width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    height: 560px;
    padding: 20px;px;
    gap: 10px;
    width: 700px;
  
    

}

.row {
    background-color: var(--White);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    
}

.heading {
    color: var(--Marine-blue);
    font-weight: 900;
}
.title{
    border:5px solid black;
}

.blur {
    color: var(--Cool-gray);
}
.main-content{
    border: 5px solid black;
}

.label {
    color: var(--Marine-blue);
    font-size: small;

    font-weight: bold
}

.step-4a,
.step-4b,
.step-1,
.step-3,
.step-5 {
    display: none;
}



input {
    display: block;
    border: 2px solid var(--Cool-gray);
    border-radius: 5px;
    height: 2.5em;
    width: 100%;
    color: var(--Marine-blue);
}




.button-container {
   border: 5px solid black;
   height: inherit;
    display: flex;
   flex-direction: row-reverse;
    margin-top: 40px;
    align-items: end;
}
.button-spacing{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

button {
    width: 7rem;
    border-radius: 10px;
    height: 2.5rem;
    background-color: var(--Marine-blue);
    color: var(--White);
    cursor: pointer;

}


/* step 1 */
.Sidebar {
    border-radius: 20px;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    padding: 20px;
    height: 560px;

}

.circle {
    border: 2px solid var(--White);
    border-radius: 50%;
    color: var(--Marine-blue);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Pastel-blue);
    font-weight: 700;

}

.number {
    display: flex;
    align-items: center;
    gap: 10px;


}

.steps {
    color: var(--Cool-gray);
    display: flex;
    flex-direction: column;

}

strong {
    color: var(--White);
}

/* step 2 */


.box-plan{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    
}

.plan{
   
    border: 1px solid var(--Purplish-blue);
    width: 130px;
    height: 180px;
   border-radius: 10%;
   display: flex;
   align-items: baseline;
   flex-direction: column;
 justify-content: space-between;
  
  
   
}

.plan-type{
    display: flex;
    flex-direction: column;
    padding-left:10px;
}

.img-plan{
    padding:10px;
}

